
/*========== HOME PAGE ==============*/

.header__container{
  padding: 1.5rem 0;
}

.header__top h1{
  text-align: center;
}

.top__stats{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  margin: 1.5rem 0;
}

.top__stats article{
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  padding:  0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}


/*========== HOME PAGE ==============*/
/*========== HOME PAGE ==============*/
/*========== HOME PAGE ==============*/
/*========== HOME PAGE ==============*/
/*========== HOME PAGE ==============*/