/*========== HOME PAGE ==============*/

.header__container {
  padding: 1.5rem 0;
}

.header__top h1 {
  text-align: center;
}

.top__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  margin: 1.5rem 0;
}

.top__stats article {
  background-color: rgb(240, 240, 240);
  border-radius: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  color: black;
}

.cryptos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.cryptos article {
  box-shadow: 0 0 5px gray;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.crypto__header {
  display: flex;
  align-items: center;
  gap: 1;
}

.crypto__img {
  width: 1.5rem;
}

/*========== TABLE ==============*/

table {
  /* table-layout: auto; */
  width: 100%;
  background-color: aliceblue;
  text-align: center;
  border-collapse: collapse;
  margin: 2.5rem 0;
  padding: 1rem 0;
}

table thead tr {
  background-color: antiquewhite;
  margin: 3rem 0;
}

table thead tr th {
  padding: 1rem 0;
}

table tbody tr td {
  padding: 0.6rem 0;
}

.crypto__more {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/*========== DASHBOARD PAGE ==============*/
.crypto__img img {
  width: 1.5rem;
}

/*========== NEWS PAGE ==============*/

.news__container {
  width: 96%;
  margin: 0 auto;
  padding: 1.5rem 0 1rem;
}

.news__header {
  margin: 2rem 0;
}

.news__header h2 {
  text-align: center;
}

main h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.crypto__news {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.crypto__news a {
  background-color: rgb(58, 94, 94);
  border-radius: 1rem;
  overflow: hidden;
}

.crypto__details {
  padding: 0.5rem;
}

.news__thumbnail img {
  width: 25rem;
}

.read__more a {
  color: rgb(167, 241, 229);
}

/*========== EXCHANGE PAGE ==============*/
.crypto__more{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.6rem;
}
/*========== HOME PAGE ==============*/
